ion-content {
  display: flex;
  justify-content: center;
  .main-container {
    display: flex;
    justify-content: center;
    .demo-device--container {
      margin-top: 4rem;
      padding: 2rem;
    }
    .main-content {
      ion-row {
        display: flex;
        align-items: flex-end;
        .divider {
          width: 100%;
          margin-top: 4rem;
        }
        ion-col {
          display: flex;
          flex-direction: column;
          .color-label {
            color: var(--ion-color-medium-shade);
            margin-bottom: 1rem;
          }
          input {
            border: none;
            text-align: center;
            padding: 1.2rem .6rem;
            border-radius: 3px;
            box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
          }
        }
      }
    }
  }
}
