<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Colors</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="main-container">

    <div class="main-content">
      <ion-grid>
        <ion-row *ngFor="let item of paletteColors, index as index">
          <div class="divider" *ngIf="index % 3 === 0"><h3>{{dividers[index/3] | uppercase}}</h3></div>
          <ion-col><p>{{item.name | uppercase}}</p></ion-col>

          <ion-col *ngFor="let tint of tints">
            <div class="color-label" *ngIf="index % 3 === 0">
              <label for="{{item.name + '-' + tint}}" floating>{{tint}}</label>
            </div>
            <div class="color-input">
              <input
                id="{{item.name + '-' + tint}}"
                size="16"
                [(colorPicker)]="palette[item.name][tint]"
                [(ngModel)]="palette[item.name][tint]"
                [style.background]="palette[item.name][tint]"
                [style.color]="tint === 'contrast' ? item.color : palette[item.name]['contrast']"
                (colorPickerChange)="onColorChange(item.name, tint)"
                (change)="onColorChange(item.name, tint)"
              />
            </div>

          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div class="demo-device--container">
      <demo-device></demo-device>
    </div>

  </div>
</ion-content>

