<div class="demo-device--body">
  <div class="demo-device--body--header">
    <svg class="demo-device__ios-notch" viewBox="0 0 219 31">
      <path
        d="M0 1V0h219v1a5 5 0 0 0-5 5v3c0 12.15-9.85 22-22 22H27C14.85 31 5 21.15 5 9V6a5 5 0 0 0-5-5z"
        fill-rule="evenodd">
      </path>
    </svg>
    <div class="demo-device--body--header--toolbar">
      <ion-icon slot="icon-only" name="contact" role="img" aria-label="contact"></ion-icon>
    </div>
  </div>
</div>
