.demo-device--body {
  width: 300px;
  height: 600px;
  border-radius: 50px;
  border: 12px solid #000000;
  box-shadow: 3px 12px 24px rgba(0, 0, 0, 0.3);
  background-color: var(--ion-color-light-tint);
  overflow: hidden;
  .demo-device--body--header {
    background-color: var(--ion-color-primary);
    width: 100%;
    height: 60px;
    .demo-device__ios-notch {
      margin: 0 60px;
    }
    .demo-device--body--header--toolbar {
      padding: 5px 15px;
      background-color: var(--ion-color-primary);
      color: var(--ion-color-light);
      font-size: 3rem;
    }
  }
}
